header{
    height: 50px;
    padding: 12px;
    border-bottom:1px solid #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .nav-opn button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
header .nav-opn button::before{
    content: '';   
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 122px;
    background-color: #222;

}
header .nav-opn button::after{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 122px;
    background-color: #222;

}
header .nav-opn button span{
    font-size: 0;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 122px;
    background-color: #222;
}
header .adress button{
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 6px;
}
header .adress button::after{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-top: 2px solid #666 ;
    border-right: 2px solid #666 ;
    transform: rotate(135deg);
    font-size: 0;
    margin-bottom: 2px;
}
header .adress button span{
    color: #666;
    font-size: 16px;
}
.bn{}
.bn a{}
.bn a img{
    width: 100%;
}

.tab{
    margin: 0px 12px;
}
.tab .wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.tab .wrap .inner{
    display: flex;
    gap: 14px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tab .wrap button img{width: 100%;}

.revw{
    padding: 20px 12px;
    
}
.revw .wrap{
    background-color: #f5efe7;
    padding: 24px;
}
.revw .hd::after{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-top: 2px solid #666 ;
    border-right: 2px solid #666 ;
    transform: rotate(45deg);
    font-size: 0;
    margin-bottom: 2px;
}
.revw .hd{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
}

.nr{
    padding: 20px 12px;
}
.nr .wrap{}
.nr .wrap h3{
    padding-bottom: 12px;
}
.nr .wrap .inner{
    overflow: scroll visible;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}
.nr .wrap .inner .item{}
.nr .wrap .inner .item a{
    width: max-content;
}
.nr .wrap .inner .item a img{
    width: 180px;
    border-radius: 16px;
}
.top{
    padding: 20px 12px;
}
.top .wrap{}
.top .wrap h3{
    padding-bottom: 12px;
}
.top .wrap .inner{
    overflow: scroll visible;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}
.top .wrap .inner .item{}
.top .wrap .inner .item a{
    width: max-content;
}
.top .wrap .inner .item a img{
    width: 180px;
    border-radius: 12px;
}

.md{
    padding: 20px 12px;
}
.md h3{
    padding-bottom: 12px;
}
.md .md-swiper{}
.md .md-swiper .swiper-wrapper{}
.md .md-swiper .swiper-slide .con{}
.md .md-swiper .swiper-slide .con a{}
.md .md-swiper .swiper-slide .con a img{
    width: 100%;
    border-radius: 12px;
    padding-bottom: 12px ;
}
.md .md-swiper .swiper-slide .con a h4{
    padding: 12px 0;
    font-size: 20px;
    padding: 4px 0px;

}
.md .md-swiper .swiper-slide .con a p{
    padding: 4px 0;
}

footer{
    background-color:#58a56e;
}
footer .wrap{
    padding: 28px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    color: #fff;
}
footer .wrap .fot-top{
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
}
footer .wrap .top .list{}
footer .wrap .bottum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    font-size: 12px;
    font-weight: 100;
}
footer .wrap .bottum .ad{}
